{% extends 'homepage.html' %}
{% block title %}Footballers{% endblock %}
{% load i18n %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'PlayersList.css' %}">

<!--<div class="players-info">

    <h3 style="text-align: center;">List of the players</h3>
        <table>
            <tr>
              <th>{% translate 'Player name' %}</th>
              <th>{% translate 'Full name' %}</th>
              <th>{% translate 'Age' %}</th>
              <th>{% translate 'Height' %}</th>
              <th>{% translate 'Weight' %}</th>
            </tr>
            {% for player in playerslist %}
            <tr>
              <td>{{player.player_name}}</td>
              <td>{{player.full_name}}</td>
              <td>{{player.age}}</td>
              <td>{{player.player_height}}</td>
              <td>{{player.player_weight}}</td>
            </tr>
            {% endfor %}
            
          </table>
</div>-->

<div class="body_tag">
    
    <div class="team">

      {% for player in playerslist %}
      <div class="team_member">
        <div class="team_img">
          <img src="{% static 'boot.jpeg' %}" alt="Player_image">
        </div>
        <h3>{{player.player_name}}</h3>
        <p class="role"><p>Field Position : {{player.player_position}}</p></p>
        <p>
          Name : {% if player.full_name %}
          {{player.full_name}}
          {% else %}
          Not available
        {% endif %}
      </p>
        <p>Age : {{player.age}}</p>
        <p>Height : {{player.player_height}}</p>
        <p>Weight : {{player.player_weight}}</p>
        <p>Nationality : {{player.player_nationality}}</p>
      </div>
      {% endfor %}
      
</div>


<div class="paginator">
  
<span class='step-links'>
  

{% if page_obj.has_previous %}

<a href="?page=1">&laquo; first</a>

<a href="?page={{page_obj.previous_page_number}}">{% translate 'previous' %}</a>

{% endif %}


<span class="current">

{% translate 'Page' %} {{page_obj.number}} {% translate 'of' %} {{page_obj.paginator.num_pages}}

</span>


{% if page_obj.has_next %} 

<a href="?page={{page_obj.next_page_number}}">{% translate 'next' %}</a>
<a href="?page={{ page_obj.paginator.num_pages }}">{% translate 'last' %} &raquo;</a>


{% endif %}


</span>

</div>

</div>

{% endblock %}




