{% extends 'homepage.html' %}
{% block title %}Match Details{% endblock %}</title>
{% block content %}

     <!-- Matches stats sections -->
     
        <table class="stats">
          <tr>
            <th>Team Logo</th>
            <th >Stats</th>
            <th>Team Logo</th>
          </tr>
          <tr>
            <td>8</td>
            <td>Shots</td>
            <td>5</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Shorts on targets</td>
            <td>5</td>
          </tr>
          <tr>
            <td>80%</td>
            <td>Possession</td>
            <td>60%</td>
          </tr>
          <tr>
            <td>550</td>
            <td>Passes</td>
            <td>680</td>
          </tr>
          <tr>
            <td>83%</td>
            <td>Pass accuracy</td>
            <td>91%</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Fouls</td>
            <td>2</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Yellow Cards</td>
            <td>2</td>
          </tr>
          <tr>
            <td>0</td>
            <td>Red Cards</td>
            <td>0</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Offsides</td>
            <td>3</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Corners</td>
            <td>8</td>
          </tr>
        </table>
        

{% endblock %}

       