{% extends "homepage.html" %}
{% block title %}Players{% endblock %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'PlayersList.css' %}">

<div class="players-info">

    <h3 style="text-align: center;">List of the players::::</h3>
        <table>
            <tr>
              <th>Player name</th>
              <th>Full name</th>
              <th>Age</th>
              <th>Height</th>
              <th>Weight</th>
            </tr>
            {% for player in players %}
            <tr>
              <td>{{player.player_name}}</td>
              <td>{{player.full_name}}</td>
              <td>{{player.age}}</td>
              <td>{{player.player_height}}</td>
              <td>{{player.player_weight}}</td>
            </tr>
            {% endfor %}
            
          </table>
</div>

<div class="paginator">
	
<span class='step-links'>
	

{% if page_obj.has_previous %}

<a href="?page=1">&laquo; first</a>

<a href="?page={{page_obj.previous_page_number}}">previous</a>

{% endif %}


<span class="current">

Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

</span>


{% if page_obj.has_next %} 

<a href="?page={{page_obj.next_page_number}}">next</a>
<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>


{% endif %}


</span>

</div>


{% endblock %}

